.product {
  font-size: 12px;
  margin: 20px;
  margin-left: 40px;

}

.product__img {
  width: 100%;
  padding: 20px;
  padding-bottom: 5px;
}

.product__button {
  display: flex;
  justify-content: center;
}

.card-body > p{
  margin-bottom: 0px;
}

.product__cart {
  margin-top: 10px;
  border-radius: 20px;
  background-color: rgb(255, 208, 0);
  border: 1px solid rgb(255, 208, 0);
}

.product__rating {
  width: 25px;
  margin-bottom: 5px;
}