.footer {
  background-color: #232F3E;
  color: white;
  padding: 0;
}

.footer__back {
  background-color: #3b4756;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50px;
  margin-bottom: 10px;
  text-decoration: none;
}

.footer a  {
  text-decoration: none;
  color: white;
  font-size: 14px;
}

.footer__link a:hover {
  text-decoration: underline;
}