.login {
  background-color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login__logo {
  width: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.login__container {
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  border: 1px solid gray
}

.login__container > h1 {
  font-weight: 500;
}

.login__button, .login__signUpButton {
  background-color: #f0c14b;
  border: 1px solid;
  border-color: #d67a2f;
  border-radius: 4px;
  padding: 5px;
}

.login p {
  font-size: 14px;
  padding: 10px;
}

.login__container > form > input {
  background-color: white;
  width: 98%;
  border-radius: 5px;
  margin-bottom: 10px;
}